{% extends "base.html" %}

{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block meta_description %}{% trans "List your home in the MLS for a flat fee with one of our flat fee agents, brokers or a Realtor&trade;" %}{% endblock %}

{% block title %}
{% trans "Home" %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}

{% trans "Agent Flat Fee MLS is a place to lower your selling costs by listing your home in the MLS database for a low flat fee." %}

<div class="blog-list-detail">
<h3>Recent Blog Posts</h3>
{% for blog_post in blog_post_list %}
    <h4><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a></h4>
{% endfor %}
</div>
    
{% endblock %}
