{% extends "base.html" %}

{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block meta_description %}{% trans "Your guide to green home previews and listings, organic living, and all things related to living a healthy lifestyle." %}{% endblock %}

{% block title %}
{% trans "Home" %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}

{% trans "Welcome to Green Home Hunters: Your guide to green homes, organic living, and all things related to living a healthy lifestyle." %}

<div class="blog-list-detail">
<h3>Recent Blog Posts</h3>
{% for blog_post in blog_post_list %}
    <h4><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a></h4>
{% endfor %}
</div>
    
{% endblock %}
